<h1>Convert to <%= @symbol%> </h1>

<p>Go <a href="/">back</a>.</p>
<ul>
<% @keys.each do |key| %>
  <a href="/<%= @symbol%>/<%= key%>">
    <li>
      Convert 1 <%= @symbol%> to <%= key%>...
    </li>
    </a>
  <% end %>
  </ul>
